@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");

.header {
  /*background-color: antiquewhite;*/
  top: 0%;
  width: 100%;
  z-index: 999;
}

.header-space {
  margin-right: 80%;
}

/* header css */
.header-nav {
  background-image: url("../data/images/header-3.jpg");
  /*background-size: contain;*/
  /*background-color: antiquewhite;*/
  /*right:5%;*/
  padding: 1%;
  max-height: 10%;
  width: 100%;
  /*flex-wrap: wrap;
    justify-content: flex-end;*/
  position: fixed;
  z-index: 999;
}

.header .font {
  font-family: "cwTeXYen", Times, serif;
  font-size: 25px;
}

.search {
  background-image: url("../data/images/search-background.jpg");
  background-size: contain;
  top: 10%;
  width: 100%;
  height: 40%;
  position: absolute;
  z-index: 0;
}

.form {
  left: 30%;
  top: 20%;
  position: relative;
  z-index: 0;
  display: inline-block;
}

.button {
  left: 20%;
  top: 14%;
  position: absolute;
  z-index: 0;
}

.money {
  bottom: 0%;
  left: 0%;
  position: fixed;
}

.tagtype {
  left: 20%;
  position: absolute;
  font-size: x-large;
  font-weight: bold;
  font-family: "cwTeXYen", Times, serif;
  z-index: 0;
}

#tagtype1 {
  top: 60%;
}

#tagtype2 {
  top: 70%;
}

.tag {
  padding: 100px;
  margin: 10px;
  font-family: "cwTeXYen", Times, serif;
  z-index: 0;
  border-style: dotted;
  border-radius: 100px;
}

.notes {
  padding: 10px;
  top: 90%;
  left: 10%;
  right: 10%;
  position: absolute;
  /*min-width: 80%;*/
  /*min-width: 600px;*/
  /*使水平排列 */
  display: flex;
  /*使超過頁面範圍時自動換行*/
  flex-wrap: wrap;
}

/* I add */
.loading1 {
  padding: 10px;
  left: 50%;
  top: 90%;
  position: absolute;
}
.loading2 {
  padding: 10px;
  left: 42%;
  top: 110%;
  position: absolute;
}

.loading-scroll {
  top: 300%;
  left: 45%;
  position: absolute;
  font-size: xx-small;
  color: white;
}

.note {
  display: inline;
}

.confirm {
  /*使水平排列 */
  display: flex;
  flex-wrap: wrap;
}

.confirm_photo {
  display: inline;
}

.confirm_buy {
  margin-left: 100px;
  margin-top: 10px;
}

.confirm_description {
  margin-top: 10px;
  font-size: small;
}

.download-note {
  position: absolute;
  bottom: 15%;
  left: 80%;
}

.note-preview {
  position: absolute;
  left: 50%;
  bottom: 15%;
}

.enter_add_note {
  position: fixed;
  top: 90%;
  right: 50px;
}

.modal_texttitle {
  font-weight: bold;
  font-size: 20px;
}

.modal_subject {
  color: blue;
}

.test {
  top: 100000px;
  position: relative;
}

/* AddNote-simple.js */
.Add-s {
  top: 200px;
  position: absolute;
  font-family: sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upload {
  background-color: #fff;
  border: solid 2px #e6e6e6;
  padding: 16px 25px;
  border-radius: 30px;
  font-size: 17px;
  line-height: 1.24;
  margin-bottom: 10px;
}

/* AddNote-clip.js */
.Add-c {
  top: 200px;
  position: absolute;
  font-family: sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addNote {
  top: "20%";
  left: "20%";
  position: "absolute";
}

.addnote-notlogin {
  font-family: sans-serif;
}
