.menuComp-section {
    color: #fff;
    padding: 50px 0;
}

.menuComp-row {
    align-items: center;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
}

.col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
}

.menuComp-text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
}

.menu_heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
}

.dark {
    margin-bottom: 24px;
    font-size: 48px;
    color: #1c2237;
}

.darkBg {
    background-color: #1c2237;
}

.menuComp-subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
}

.menuComp-img-wrapper {
    max-width: 555px;
}

.menuComp-img {
    max-width: 95%;
    padding-right: 0;
    padding-top: 0;
    margin: 0 0 0 10px;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

@media screen and (max-width:991px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width:768px) {
    .menuComp-text-wrapper {
        padding-bottom: 65px;
    }
    .col {
        max-width: 100%;
        flex-basis: 100%;
    }
}